ul {
    list-style: none;
    li {
        float: left;
    }
    &:hover {
        color: red
    }
}

$num:100px;

/*sass中，单位不同不能进行运算，会报错*/

.box4 {
    width: $num*2;
    height: $num+20px;
    // margin: 20rem+$num;//报错
    font: 20px/1.5;
    padding: (20px/1.5);
    color: #102330*2
}

@function getPadding($parm) {
    @return $parm+20px
}

.box5 {
    width: percentage(.3);
    height: round(134.21px);
    margin: random()px;
    padding: getPadding(2px)
}