ul {
    list-style: none;
}

ul li {
    float: left;
}

ul:hover {
    color: red;
}


/*运算、单位选择、转义、颜色运算*/

.box4 {
    width: 300px;
    height: 110px;
    margin: 110em;
    font: 20px/1.5;
    padding: 20px/1.5;
    color: #204604;
}